<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pickerviewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840BC7EC1BF5D5D000045BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840BC8051BF5D5D100045BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840BC8101BF5D5D100045BAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
